<?xml version='1.0' encoding='utf-8'?>
<widget 
    id="com.notirye.app" 
    version="1.0.0" 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Notirye</name>
    <description>
        Aplicación de push notificaciones
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        Andres Blanco
    </author>
    <feature name="http://api.phonegap.com/1.0/device" />

    <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.4.0" />
    <!--Plugin de notificaciones -->
    <gap:plugin name="com.phonegap.plugins.pushplugin"/>
    <access origin="*" />
	
</widget>
